<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input {
            margin-bottom: 10px;
        }
        button {
            margin-top: auto;
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <h1>Soy un ejemplo</h1>
    <a href="/">Volver a Index</a><br/>
    <form>
        Nombre: <input type="text" name="caja">
        <br>
        Numero <input type="number" name="cajanumero"> <br>
        Fecha: <input type="date" name="cajafecha"><br>

        Selecciona:
        <select name="colores">
            <option value="blue">Azul</option>
            <option value="green">Verde</option>
            <option value="yellow">Amarillo</option>
        </select>
        <button>
            save
        </button>
    </form>
</body>
</html>