<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'paginas/menu.html' %}
    <h1>Menú formularios</h1>
    <ul>
        <li>
            <a href="/ejemplo">Ir a ejemplo</a> <br>
        </li>
        <li>
            <a href="/saludo">Ir a saludar</a>
        </li>
        <li>
            <a href="/sumar">Ir a Sumar</a>
        </li>
        <li>
            <a href="/parimpar">Ver número Par o Impar</a>
        </li>
        <li>
            <a href="/collatz">Ir a Conjetura de Collatz</a>
        </li>
        <li>
            <a href="/tabla">Ir a la tabla de multiplicar</a>
        </li>
    </ul>
</body>
</html>