<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            color:fuchsia
        }
        img {
            width: 70%;
            height: 5%;
        }
    </style>
</head>
<body>
     <a href="prueba/">ir a prueba</a><br/>
     <a href="./noticias">Ir a noticias</a><br/>
     <a href="./futbol">Futbol</a><br>
     <a href="./nombres">Lista nombres</a>
     <a href="./mascotas">Lista de Mascotas</a>
    Todo lo de aquí dentro es texto hasta este texto
    <h1>Mi plantilla django</h1>
    <h3>template con dibujos</h3>
    <img src="https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/15665/production/_107435678_perro1.jpg.webp"/>
    
</body>
</html>
